.answers {
  min-height: 50px;
}
.customProgress {
  width: 100%;
  height: 15px;
  background-color: lightgray;
  overflow: hidden;
  border-radius: 10px;
}
.customProgressLoad {
  transition: 2s;
  height: 15px;
  background-color: green;
}
